extends layouts/login-layout.pug
block content 
  .loginContainer 
    h1 Register 
    form#registerForm(method="post") 
      p.errorMessage= errorMessage
      input#firstName(type="text", name="firstName", placeholder="First name", value=firstName, required="")
      input#lastName(type="text", name="lastName", placeholder="Last name", value=lastName, required="")
      input#username(type="text", name="username", placeholder="Username", value=username, required="")
      input#email(type="email", name="email", placeholder="Email", value=email, required="")
      input#password(type="password", name="password", placeholder="Password", value=password  required="")
      input#passwordConfirm(type="password", name="passwordConfirm", placeholder="Confirm password", value=passwordConf required="")
      input(type="submit", value="register")
    a(href="/login") Already have an account? Login here.

block scripts
  script(src="/js/register.js") 